:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --button-primary-hover: #188ce8;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --second-btn-color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.99px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
  }
}

.header-nav__item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-nav__item {
    margin-bottom: 0;
  }
  .header-nav__item + .header-nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    display: block;
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (max-width: 767.99px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-bottom: 0px;
  }
  .contacts__item + .contacts__item {
    margin-right: 30px;
  }
}

.contacts__link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    width: 16px;
    height: 12px;
  }
}

.header-nav__link-current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-nav__link-current::after {
    color: var(--accent-color);
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.button {
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: #ffffff;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.26;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767.99px) {
  .header__logo {
    padding: 16px 0px 16px 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__dark {
  color: var(--title-text-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__text_white {
  color: var(--primary-white-color);
}

.section__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin: 0px;
  }
}

.team-list__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin: 0px 15px 0px 0px;
  }
}

.team-list__item-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .filters-list {
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
}

.filters-item + .filters-item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.filters-item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.filters-button {
  background-color: var(--second-bg-color);
  color: var(--second-btn-color);
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover, .filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-description,
.portfolio-item-link:focus .portfolio-description {
  transform: translateY(0);
}

@media screen and (min-width: 1200px) {
  .portfolio-description {
    padding: 63px 24px;
  }
}

.portfolio-item-link {
  color: var(--primary-text-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover, .portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-padding {
  padding: 20px 24px;
}

.border {
  background: var(--primary-white-color);
  border: 1px solid var(--border-color);
  border-top: transparent;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.address__wrapper {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address__wrapper {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.address-list__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .address-list__item {
    margin-bottom: 9px;
  }
  .address-list__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list:last-child {
    margin-top: 0px;
  }
}

.address-list__link {
  margin-bottom: 8px;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address-list__link {
    margin-bottom: 0px;
  }
}

.address-list__link-opacity {
  color: rgba(255, 255, 255, 0.6);
}

.follow {
  margin: 0px 0px 60px 0px;
}

.follow__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .follow-list__socials {
    display: flex;
  }
}

.socials__link_opacity {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link_white {
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .mailing {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__form {
    display: flex;
  }
}

.mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing__button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
}

@media screen and (min-width: 1200px) {
  .mailing__button {
    display: inline-flex;
    margin-left: 12px;
    justify-content: start;
    margin-bottom: 0px;
  }
}

.mailing__icon {
  margin-left: 10px;
}

.mailing__input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(-100%) scale(0);
}

.modal {
  padding: 40px;
  position: relative;
  max-width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-input-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.comment-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus {
  border-color: var(--accent-color);
}

.comment-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text .modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.agreement-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-check-text {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .modal-check-text .icon-check {
  fill: #ffffff;
}

.icon-check {
  fill: transparent;
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.agreement-checkbox {
  cursor: pointer;
  margin-right: 7px;
}

.agreement-checkbox::placeholder {
  font-size: 14px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.agreement-link {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  color: #2196f3;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.modal-close:focus, .modal-close:hover {
  color: var(--accent-color);
}

.icon-close {
  fill: currentColor;
}

.open-menu {
  top: 22px;
  right: 23px;
  position: absolute;
  background-color: transparent;
}

.open-menu:hover, .open-menu:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .open-menu {
    display: none;
  }
}

.mob-menu__close-btn {
  background-color: transparent;
  top: 21px;
  right: 25.33px;
  position: absolute;
}

.mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  color: var(--accent-color);
}

.menu-button__icon-menu,
.mob-menu__icon-close {
  fill: currentColor;
}

.mob-menu__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding: 40px;
}

.mob-menu__container.is-open {
  transform: translateX(0);
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link-current {
  color: var(--accent-color);
}

.mob-contacts__item {
  margin-bottom: 32px;
}

.mob-contacts__item:last-child {
  margin-bottom: 64px;
}

.mob-contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts__link:hover, .mob-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mob-contacts__link-large {
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.mob-socials {
  display: flex;
}

.mob-socials__item:nth-child(-n + 3)::after {
  content: "";
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0px 10px 0px 10px;
}

.mob-socials__link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.hero {
  padding: 118px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button {
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-primary-hover);
}

@media screen and (min-width: 1200px) {
  .section__no-padding-top {
    padding-top: 0px;
  }
}

.section__mob-hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__mob-hidden {
    display: block;
  }
}

.about {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .feature__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
    margin: 0px 0px 0px 30px;
  }
}

.feature__icon {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section__other-background {
  background-color: var(--second-bg-color);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin: 0px;
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 100%;
  }
  .clients-list__item + .clients-list__item {
    margin: 0px 0px 0px 30px;
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.portfolio-item {
  background: var(--primary-white-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer__wrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    align-items: baseline;
    text-align: start;
    justify-content: start;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__around-wrapper {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__around-wrapper {
    justify-content: flex-start;
  }
}
/*# sourceMappingURL=main.css.map */