.header {
	border-bottom: 1px solid var(--line-color);
}
// .header__container {
// 	display: flex;
// }
.header-nav {
	padding-top: 15px;
	padding-bottom: 15px;
	// display: flex;
	// align-items: center;
}
.header-nav__list {
	// display: flex;
}
.header-nav__item {
	// & + & {
	// 	margin-left: 50px;
	// }
}
.header-nav__link {
	display: block;
	position: relative;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

// .contacts {
// 	display: flex;
// 	align-items: center;
// 	margin-left: auto;
// }

.contacts__item {
	& + & {
		margin-left: 5px;
	}
}

.contacts__link {
	
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.contacts__icon {
		@media screen and (max-width:767px) {
			display: none;
		}
	@media screen and (min-width:768px) {
		display: inline-block;
		fill: currentColor;
		margin-right: 10px;
	}
}
.header__socials{
	display: flex;
	
}
.header__socials-link{
	@media screen and (max-width:767px){
		&::after{
			display: inline-block;
			content: "";
			width: 1px;
			height: 100%;
			background-color: var(--primary-text-color);
		}
		
}
}