.portfolio-list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
}
.portfolio-item {
	background: var(--primary-white-color);
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 2 * 30px) / 2);
		margin: 15px;
	}
	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 3 * 30px) / 3);
		margin: 15px;
	}
}
