.follow {
	margin-bottom: 60px;
}
.follow__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}

// .follow-list__socials {
// 	display: flex;
// }

.socials__link_opacity {
	background-color: rgba(255, 255, 255, 0.1);
}
.socials__link_white {
	color: #ffffff;
}
.socials__icon {
	fill: currentColor;
}
.socials__link {
	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}
