.mailing {
   @media screen and (min-width: 480px) and (max-width: 1199px) {
      text-align: center;
      margin-top: 60px;
   }
   @media screen and (min-width: 1200px) {
      margin-left: 93px;
   }
}
.mailing__form {
   @media screen and (min-width: 1200px) {
      display: flex;
   }
}

.mailing__title {
   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   color: #ffffff;
}
.mailing__button {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   padding: 10px 28px;
   @media screen and (min-width: 1200px) {
      display: inline-flex;
      margin-left: 12px;
      justify-content: start;
      margin-bottom: 0px;
   }
}

.mailing__icon {
   margin-left: 10px;
}
.mailing__input {
   width: 100%;
   padding: 15px 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: transparent;
   outline: none;
   margin-bottom: 20px;

   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
   }
   @media screen and(min-width:768px) {
      width: 450px;
   }
   @media screen and(min-width:1200px) {
      width: 358px;
      margin-bottom: 0;
   }
}
