.open-menu {
	background-color: transparent;
	display: inline-flex;
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.mob-menu__container {
	padding: 21px;
}
.mob-menu__close-btn {
	background-color: transparent;
	display: block;
	margin-left: auto;
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.menu-button__icon-menu,
.mob-menu__icon-close {
	fill: currentColor;
}

.mob-menu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	left: 0;
	top: 0;
}
.mob-menu__item {
	margin-bottom: 32px;
}
.mob-menu__link {
	display: block;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.mob-contacts {
	display: flex;
	margin-left: auto;
	flex-direction: column-reverse;
}
.mob-contacts__item {
	margin-bottom: 32px;
	&:last-child {
		margin-bottom: 64px;
	}
}
.mob-contacts__link {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.mob-contacts__link-large {
	@media screen and (max-width: 767px) {
		font-size: 34px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		color: var(--accent-color);
	}
}
