.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 93px 15px;
	overflow-y: scroll;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) translateY(-100%) scale(0);
}
.modal {
	padding: 40px;
	// position: absolute;
	// width: 100%;
	max-width: 450px;
	height: 609px;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%) translateY(0%) scale(100%);
	// transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 12px;
}
.modal-form-field {
	margin-bottom: 10px;
	&:nth-child(4) {
		margin-bottom: 20px;
	}
}

.modal-input-wrapper {
	position: relative;
}
.modal-input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border-color: var(--accent-color);
	}
}

.input-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	.modal-input:focus + & {
		fill: var(--accent-color);
	}
}
.modal-input-text {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
}

.comment-text {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	outline: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border-color: var(--accent-color);
	}
	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}
}
.comment-text .modal-input:focus + .input-icon {
	fill: var(--accent-color);
}
.agreement-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.modal-check-text {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		width: 16px;
		height: 15px;
		border: 2px solid #212121;
		border-radius: 2px;
		margin-right: 7px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}

.modal-check {
	&:checked + .modal-check-text span {
		background-color: var(--accent-color);
		border: none;
	}
	&:checked + .modal-check-text .icon-check {
		fill: #ffffff;
	}
}
.icon-check {
	fill: transparent;
}

.modal-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 55px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}

.agreement-checkbox {
	cursor: pointer;
	margin-right: 7px;
	&::placeholder {
		font-size: 14px;
		line-height: 1.16px;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
}

.agreement-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.agreement-link {
	text-decoration-skip-ink: none;
	text-decoration: underline;
	color: #2196f3;
}

.modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 8px;
	top: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: #ffffff;
}
