.section__title {
   margin-bottom: 30px;

   color: var(--title-text-color);
   text-align: center;
   font-weight: 700;
   font-size: 28px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
   }
}
