:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--second-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--button-primary-hover: #188ce8;
	--line-color: #ececec;
	--border-color: #eeeeee;
	--second-btn-color: #212121;
}
